@import '../../scss/variables';
  
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 270px;

  color: $primary;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.input {
  width: 50%;
  border: 1px solid $border;
}

.button {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;

  color: $text;
  text-transform: uppercase;

  background-color: $primary;
}